<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Twegram</title>
      <link href="external.css" rel="stylesheet">
   </head>
   <body>
      <header>
         <h1>Twegram</h1>
      </header>
      <section class="main">
         <div class ="name">
            <p>Blog by XXX</p>
         </div>
         <div class="blog">
         <div class="blog_item">
            <h3> Самый нsdnkjgvkjasdnfkjnkовый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3> Самый новый текст
            </h3>
         </div>
         <div class="blog_item">
            <h3>Самый лучший день</h3>
         </div>
         </div>
      </section>
   </body>
</html>
