<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link href="external.css" rel="stylesheet">
   </head>
   <body>
      <header>
         <h1>Twegram</h1>
      </header>
      <section class="main">
         <div class="form">
            <h1>Registration</h1>
            <input>
            </input>
            <button>
               <p>Sign up</p>
            </button>
         </div>
         <div class="form">
            <h1>Twe</h1>
            <input>
            </input>
            <textarea  class="special"></textarea>
            <button>
               <p>Post</p>
            </button>
         </div>
      </section>
      <footer class="footer">
         <h2>Had made by Somebody</h2>
      </footer>
   </body>
</html>
